.ds-17-sub-container {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #9c9c9c;
}

.ds-17-sub-innr-container {
  padding: 55px 22px;
}

.ds-17-cntr-frst-rw {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.ds-17-cntr-frst-rw h2 {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}

.ds-17-cntr-frst-rw h4 {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.ds-17-cntr-frst-rw p {
  color: #878787;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.ds-17-cntr-snd-rw {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}

.ds-17-cntr-snd-rw-bx {
  border-radius: 8px;
  background: #f2c94c;
  padding: 11px 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.ds-17-cntr-snd-rw-bx p {
  color: #003c47;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.ds-17-cntr-snd-rw-bx button {
  background: #fff;
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  padding: 4px;
}

.ds-17-cntr-snd-rw-bx .active {
  background: #eeeeee;
  border-radius: 8px;
}

.border-r-0 {
  border-right: 0 !important;
}

.border-l-0 {
  border-left: 0 !important;
}

.ds-17-cntr-trd-rw {
  display: flex;
  gap: 130px;
  margin-top: 80px;
}

.ds-17-cntr-trd-rw-col-btn {
  display: flex;
  gap: 15px;
  margin-top: 35px;
}
.ds-17-cntr-ftr-rw {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

/* For Chrome, Safari, and Edge */
.ds-17-cntr-ftr-rw::-webkit-scrollbar {
  display: none;
}

.ds-17-cntr-trd-rw-col h5 {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding-left: 80px;
}

.ds-17-cntr-trd-rw-col-btn button {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #76e8cd;
  color: #003c47;
  font-size: 14px;
  font-weight: 300;
  width: 190px;
}
#apllicationDesignBtn:hover {
  background-color: #bbf3e5;
}

.cursor-pointer.active {
  background: #bbf3e5;
}

.ds-17-cntr-trd-rw-col button:hover {
  cursor: pointer;
}

.icon-text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #003c47;
  height: 45px;
}

.icon-text-button img {
  width: 20px;
  height: 20px;
}

.icon-text-button img {
  width: 20px;
  height: 20px;
}

.ds-17-cntr-ftr-rw {
  background: #ececec;
  margin-top: 50px;
  margin-left: -22px;
}

.ds-17-cntr-ftr-rw-col img {
  width: 19px;
  height: 19px;
}

.ds-17-cntr-ftr-rw-col {
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  padding: 16px;
  display: flex;
  width: 260px;
  gap: 5px;
  cursor: grab;
}

.ds-17-cntr-ftr-rw-txt-col h4 {
  color: #333;
  font-size: 11px;
  font-weight: 700;
  margin: 0;
}

.ds-17-cntr-ftr-rw-txt-col p {
  color: #333;
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}

.ds-17-sub-container-2 {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #9c9c9c;
  margin-top: 50px;
  padding-bottom: 100px;
}

.ds-17-cntnr-2-rw-frst {
  border-radius: 16px 16px 0px 0px;
  background: #f4f3f3;
}

.ds-17-cntnr-2-sub-rw-frst {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.ds-17-cntnr-2-sub-rw-frst h1 {
  color: #333;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.ds-17-cntnr-2-sub-rw-frst button {
  border-radius: 57px;
  background: #ddd;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 15px;
  border: none;
}

.ds-17-cntnr-2-rw-scnd {
  width: 100%;
  margin: 35px 0 20px 0;
}

.ds-17-cntnr-2-sub-rw-scnd {
  padding: 0 30px;
  display: flex;
  gap: 35px;
  align-items: center;
}

.ds-17-cntnr-2-sub-rw-scnd p {
  color: #333;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.ds-17-cntnr-2-sub-rw-scnd p span {
  color: #1aedb8;
}

.maker-btn {
  border-radius: 7px;
  border: 1px solid #1aedb8;
  padding: 7px 42px;
  color: #003c47;
  font-size: 21px;
  font-weight: 300;
  background: none;
}

.ds-17-cntnr-2-rw-thrd-btn {
  width: 100%;
}

.ds-17-cntnr-2-rw-sub-thrd-btn {
  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 13px;
}

.ds-17-cntnr-2-rw-sub-thrd-btn button {
  border-radius: 6.625px;
  background: #f2f2f2;
  padding: 12px;
  color: #003c47;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: none;
}

.ds-17-cntnr-2-rw-sub-thrd-btn button:focus {
  background: #bbf3e5;
}

.ds-17-cntnr-2-rw-sub-thrd-btn button img {
  margin-left: 5px;
}

.ds-17-cntnr-2-rw-frth-btn {
  width: 100%;
}

.ds-17-cntnr-2-rw-frth-btn-sub {
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.ds-frth-swith-btn {
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  padding: 8px;
  margin-left: 20px;
}

.ds-frth-swith-btn button {
  color: #003c47;
  font-size: 12px;
  font-weight: 300;
  background: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.ds-frth-swith-btn button:focus {
  background: #bbf3e5;
}

.ds-frth-swith-btn button:active {
  background: #bbf3e4;
}

.ds-17-cntnr-2-rw-fth {
  width: 100%;
}

.ds-17-cntnr-2-rw-fth-sub {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
}
#appMakerHomeData {
  margin: auto;
}
.ds-17-cntnr-2-rw-fth-sub-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ds-17-cntnr-2-rw-fth-sub-col p {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 300;
  margin: 25px 0;
}

.ds-17-cntnr-2-rw-fth-sub-col-btn {
  display: flex;
  gap: 15px;
}

.ds-17-cntnr-2-rw-fth-sub-col-btn button {
  border-radius: 8px;
  border: 1px dashed #bbf3e5;
  padding: 8px;
  color: #003c47;
  font-size: 18px;
  font-weight: 300;
  background: none;
  width: 200px;
}

.switch-button.active {
  background: #bbf3e5;
}
/* responsive  */

@media screen and (max-width: 480px) {
  .ds-17-sub-innr-container {
    padding: 15px !important;
  }
  .ds-17-cntr-trd-rw-col h5 {
    padding-left: 0px;
  }

  .ds-17-cntr-snd-rw-bx button {
    padding: 2px 10px !important;
    font-size: 16px !important;
  }

  .ds-17-cntr-snd-rw-bx {
    padding: 10px !important;
  }

  .ds-17-cntr-frst-rw {
    text-align: center !important;
  }

  .ds-17-cntr-trd-rw {
    gap: 0 !important;
    flex-direction: column;
    margin-top: 24px !important;
    text-align: center;
  }
  .icon-text-button {
    font-size: 12px;
  }

  .ds-17-cntnr-2-sub-rw-frst {
    padding: 20px !important;
  }

  .ds-17-cntnr-2-sub-rw-scnd {
    padding: 0px 20px !important;
  }

  .ds-17-cntnr-2-rw-frth-btn-sub {
    padding: 0 20px !important;
    justify-content: center !important;
  }

  .ds-17-cntnr-2-rw-fth-sub {
    padding: 0px 20px !important;
  }

  .ds-17-cntr-snd-rw {
    justify-content: center !important;
  }

  .ds-frth-swith-btn {
    margin-left: 0 !important;
  }

  .ds-17-cntnr-2-rw-fth-sub-col-btn button {
    padding: 4px !important;
    font-size: 15px !important;
    width: 100% !important;
  }

  .ds-17-cntnr-2-rw-fth-sub-col p {
    margin: 20px 0 !important;
  }

  .ds-17-cntnr-2-rw-fth-sub-col-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px !important;
    margin-bottom: 20px;
  }

  .ds-17-sub-container-2 {
    margin-top: 35px !important;
    padding-bottom: 25px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 480px) {
  .ds-17-cntr-ftr-rw {
    margin-right: -15px;
    margin-left: -15px;
  }
}
