footer {
    margin-top: 100px;
    width: 100%;
    position: relative;
}

footer>div {
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    background: #16263F;
    height: 60px;
    width: -webkit-fill-available;
    z-index: 999;
    text-align: center;
}

footer button {
    border-radius: 12px;
    background: var(--bbf-3-e-5, #BBF3E5);
    height: 100%;
    color: #000;
    font-size: 15.373px;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
    transition: background-color 0.3s ease;
    width: 140px;
}


footer button:hover {
    background-color: #2DD2C2;
}