.alert-box-abandond {
  border-radius: 9px;
  border: 1px solid #bdbdbd;
}

.alert-box-abandond h3 {
  color: var(--Gray-1, #333);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.alert-box-abandond h4 {
  color: var(--Gray-1, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* table  */

.ab-container {
  border-radius: 9px;
  border: 1px solid #bdbdbd;
}

.ab-row {
  width: 100%;
  display: flex;
}

.ab-sub-row {
  width: 100%;
  display: flex;
  padding: 11px 25px;
  justify-content: space-between;
}

.ab-row-col {
  display: flex;
  align-items: center;
}

.ab-row-col h1 {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  margin: 3px 3px 0 7px;
}

.ab-row-col img {
  width: 29px;
  height: 29px;
}

.ab-row-col p {
  color: #a7a7a7;
  font-size: 17px;
  font-weight: 300;
  margin: 4px 0 0 0;
}

.ab-row-col img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.ab-row-col button {
  color: #003c47;
  font-size: 13px;
  font-weight: 300;
  border-radius: 7px;
  border: 1px solid #bbf3e5;
  padding: 6px 7px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.ab-container table {
  width: 100%;
  margin-top: 10px;
}

.ab-container table thead {
  border-radius: 7px;
  background: #f4f3f3;
}

.ab-container table thead tr {
  border-radius: 7px;
}

.ab-container table thead tr th {
  padding: 22px;
  text-align: right;
}

.ab-container table thead tr th h3 {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.ab-container table tbody tr td {
  padding: 10px 22px;
  text-align: right;
  border-bottom: 1px solid #dadada;
}

.ab-container table tbody tr td button {
  color: var(--003-c-47, #003c47);
  font-size: 15px;
  font-weight: 300;
  background: transparent;
  border-radius: 78px;
  border: 1px solid #bbf3e5;
  padding: 5px;
  width: 100%;
}

.ab-container table tbody tr td table td h4 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.ab-container table tbody tr td p {
  color: #a7a7a7;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.cm-rmv-els {
  border: none !important;
  padding: 0px !important;
  margin: 0px;
}
.abandondTable {
  overflow-x: auto;
}
