.mahally-logo {
  max-width: 812px;
  margin: 60px auto;
}
.MahallyfirstDiv {
  margin: 0;
}
.mahally-logo h3 {
  color: var(--Gray-1, #333);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 20px 0;
}

.mahally-logo p {
  color: var(--a-7-a-7-a-7, #a7a7a7);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mahally-box {
  border-radius: 5.907px;
  border: 0.738px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.mahally-box h4 {
  color: var(--Gray-1, #333);
  font-size: 13.894px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mahally-box p {
  color: var(--a-7-a-7-a-7, #a7a7a7);
  font-size: 13.894px;
  font-style: normal;
  font-weight: 300;
  width: 184.43px;
  margin: 0 auto 10px;
  line-height: normal;
  padding: 5px;
}

.mahally-box > div {
  text-align: center;
}

.mahally-btn button {
  border-radius: 42px !important;
  background: #f55157 !important;
  padding: 19px 101px !important;
  border: none;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  cursor: pointer !important;
}
.MainSectionMahally {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem; /* Equivalent to gap-8 in Tailwind (1 unit = 0.25rem) */
  margin-top: 2.5rem; /* Equivalent to my-10 (top and bottom margin) */
  margin-bottom: 2.5rem;
  width: 83.33%; /* Equivalent to w-10/12 */
  margin-left: auto;
  margin-right: auto;
}

/* Media query for large screens (lg breakpoint in Tailwind is 1024px by default) */
@media (min-width: 1023px) {
  .MainSectionMahally {
    margin-top: 5rem; /* Equivalent to lg:my-20 (top and bottom margin) */
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 1023px) {
  .MainSectionMahally {
    margin: 1rem 0px;
  }
  .mahally-logo {
    max-width: 812px;
    margin: 60px 0px;
  }

  #mahallyBoxImg {
    /* width: 250px; */
    width: 130%;
  }
}
@media screen and (max-width: 768px) {
  #mahallyBoxImg {
    display: flex;
    flex-direction: row;
  }
}
