.ar p {
  color: var(--f-55157, #f55157);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#jscvalue:hover::after,
#jscvalue:focus::after {
  content: none;
}

.status-icon {
  width: 8px;
  height: 8px;
  background: #f55157;
  border: 1px solid #f22128;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -2px;
  /* Adjust as needed */
}

.alert-box .notification-label {
  background-color: #f55157;
  border-radius: 4px;
  color: #fff !important;
  font-size: 14px;
  height: 25px;
  line-height: 20px;
  margin-left: 15px;
  min-width: 25px;
  padding: 4px;
  position: relative;
  text-align: center;
}

.alert-box--danger {
  background-color: rgba(245, 81, 87, 0.1);
  border-color: #f55157;
}

.alert-box--linked {
  padding-left: 50px;
}

.alert-box {
  align-items: center;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: flex-start;
  margin: 0 0 20px;
  padding: 10px 15px;
  position: relative;
  transition: opacity 0.35s cubic-bezier(0.2, 1, 0.3, 1);
}

.alert-box--danger,
.alert-box--danger * {
  color: #a4090f !important;
}

/* chart */
.cursor-pointer {
  cursor: pointer !important;
}

.chart {
  height: 300px;
  border-radius: 12px;
  border: 1px solid #cecece;
}

.chart h5 {
  color: var(--003-c-47, #003c47);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chartbox {
  border-radius: 10.488px 0px 0px 10.488px;
  background: #cff7ee;
  height: 100%;
  /* padding: 12px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-box-head {
  color: #b9b9b9;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chart-box-circle {
  width: 56.683px;
  height: 56.683px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cff7ee;
  border-radius: 50%;
}

/*  */
.side-bx-container {
  border-radius: 12px;
  border: 1px solid #a7a7a7;
  display: flex;
  flex-direction: column;
}

.bx-sub-head {
  padding: 17px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 11px 11px 0px 0px;
  background: #f7f7f7;
}

.bx-container-head h2 {
  color: #333;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  margin: 3px 0 0 0;
}

.bx-container-body {
  display: flex;
  width: 100%;
}

.bx-sub-body {
  padding: 9px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bx-cntn-item img {
  width: 100%;
}

.bx-cntn-text {
  width: 190px;
}

.bx-cntn-text h1 {
  color: #6c6f70;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.bx-cntn-text p {
  color: #a1a1a1;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.text-red h1 {
  color: #de0000;
}

.bx-cntn-user {
  width: 45px;
  display: flex;
}

.bx-cntn-user img {
  width: 100%;
  height: 44px;
}

.side-table {
  height: 485px;
}

/*  */
.panel {
  border-radius: 12px;
  border: 1px solid var(--a-7-a-7-a-7, #a7a7a7);
  margin: -100px 0 100px;
}

.panel-head {
  border-radius: 13px 13px 0px 0px;
  background: #f7f7f7;
  height: 59.619px;
  align-items: center;
  display: flex;
}

.panel-head h5 {
  color: var(--Gray-1, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.panel .table-container {
  height: 590px;
}

.panel tr td {
  padding: 8px 26px;
}

.panel tr td p {
  color: #a1a1a1;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.panel tr td .b-para {
  color: var(--003-c-47, #003c47) !important;
}

.panel tr td .c-para {
  color: #6c6f70 !important;
}

.panel button {
  color: var(--003-c-47, #003c47);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-scrol {
  height: 350px;
}

.scrollstyle {
  margin-bottom: 7px;
}

.scrollstyle::-webkit-scrollbar {
  width: 6px;
}

.scrollstyle::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  padding: 5px 0;
}

.scrollstyle::-webkit-scrollbar-thumb {
  /* background-color: #f1f1f1; */
  background: #c1c1c1;
  /* border-radius: 10px; */
  border: 2px solid #c1c1c1;
  padding: 5px 0;
}

/* .scrollstyle::-webkit-scrollbar-thumb:hover {
  background-color: lightblue;
} */

/* responsive  */
@media screen and (max-width: 1024px) {
  .ALertTable {
    margin-top: 310px;
    margin-bottom: 100px;
  }

  .chartbox {
    border-radius: 10.488px;
   
  }

  .outOfstockProducts {
    margin-top: -100px;
  }

  .chart-footer {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .panel {
    margin: 0 !important;
  }

  .chartbox {
    border-radius: 10px !important;
  }

  .chartbox img {
    width: 100%;
  }

  .table-container tbody tr td p {
    width: 66px;
  }

  .panel tr td {
    padding: 3px 15px !important;
  }

  /*  */

  .sidetitle {
    margin-top: 0px !important;
  }

  .tech-topbar-form-fields select {
    font-size: 13px !important;
  }

  .tech-topbar-form-fields input {
    font-size: 13px !important;
  }

  .share h5 {
    font-size: 11px !important;
    padding: 0 7px 0 0 !important;
  }

  .chart {
    height: 100% !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1367px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}

/* darkmode  */

.darkmode .tb-head-dark {
  background: #2c2c2c;
}

.darkmode .dark-text {
  color: #a6a6a6;
}

.darkmode .bg-dark {
  background: #272626;
}
.darkmode .dark-text-light {
  color: #b1e6da;
}

.darkmode .bx-cntn-text h1 {
  color: #ddd !important;
}
.darkmode .dark-border {
  border: 1px solid #444444 !important;
}
.darkmode .scrollstyle::-webkit-scrollbar-track {
  background: #2c2c2c;
  padding: 5px 0;
}

.darkmode .scrollstyle::-webkit-scrollbar-thumb {
  background-color: #666666;
  border: 2px solid #666666;
  padding: 5px 0;
}
