
.darkmode .dark-text {
    color: #a6a6a6;
}
.darkmode .dark-text2 {
    color: #4D4D4D;
}
.darkmode .bg-dark {
    background: #272626;
}
.darkmode .bg-color {
    background-color: #212121;
}
.darkmode .bg-dark-head {
    background-color: #2C2C2C !important;
}

.darkmode .dark-text-light {
    color: #b1e6da;
}

.darkmode .dark-border {
    border: 1px solid #444444 !important;

}

.darkmode .dark-a {
    color: #ddd !important;
}

.darkmode .dark-ul {
    background: #333333;
}

.darkmode .dark-li:hover {
    background: #2C2C2C !important;
    border-radius: 6px;
}

.darkmode .dark-li a:hover {
    background: #2C2C2C;
    border-radius: 7px;
}
