.darkmode {
    background: #282828;
}

.btn-hover {
    background: #BBF3E5 !important;
    transition: background 0.2s ease !important;
}

.btn-hover:hover {
    background: #76e8cd !important;
}

.shadow-none {
    box-shadow: none !important;
}

.tech-productoption-input-group .MuiOutlinedInput-notchedOutline {
    border: none !important;
}